{%- if pillar.gitlab.server is defined %}

{%- set version = pillar.gitlab.server.get('version', '6.5') %}

{%- if version == '7.7' %}
{%- set shell_version = '2.4.1' %}
{%- else %}
{%- set shell_version = '2.4.1' %}
{%- endif %}

{% set server = salt['grains.filter_by']({
    'default': {
        'service': 'gitlab',
        'version': version,
        'shell_version': shell_version,
        'repository': {},
        'pkgs': ['gitlab-ce'],
        'source_pkgs': ["build-essential", "zlib1g-dev", "libyaml-dev", "libssl-dev", "libgdbm-dev", "libreadline-dev", "libncurses5-dev", "libffi-dev", "checkinstall", "libxml2-dev", "libxslt1-dev",  "libmysqlclient-dev", "libpq-dev", "libcurl4-openssl-dev", "libicu-dev", "curl", "python-docutils", "cmake"]
    },
}, merge=salt['pillar.get']('gitlab:server')) %}

{%- endif %}

{% set client = salt['grains.filter_by']({
    'default': {
        'pkgs': ["python-gitlab"]
    },
}, merge=salt['pillar.get']('gitlab:client')) %}
